@charset "utf-8";

*{
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
}
body {
  color: #443f3f;
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',"游ゴシック体", "Yu Gothic", "YuGothic",'メイリオ',' Meiryo','ＭS Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 500;
  background: #FFFFFF;
  width: 100%;
  height: auto;
  overflow: hidden;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN", 'Meiryo', 'Open Sans', sans-serif;
}
.h6{
  font-size: 1.1rem;
}
.W1{
  font-weight: 100;}
.W2{
  font-weight: 200;}
.W3{
  font-weight: 300;}
.W4{
  font-weight: 400;}
.W5{
  font-weight: 500;}
.W6{
  font-weight: 600;}
.W7{
  font-weight: 700;}
.W8{
  font-weight: 800;}
.W9{
  font-weight: 900;}
a {
  text-decoration: none;
  color: #2d2d2d;
  -webkit-transition: .1s all ease;
  -o-transition: .1s all ease;
  transition: .1s all ease;
}
a:hover {
  color: #2d2d2d;
  text-decoration: none;
}
li {
	list-style-type:none;
}
img{
  width: 100%;
}
nobr{
  white-space: nowrap;
}
.wrapper{
  overflow: auto;
}
.bttn{
  position: relative;
  align-items: center;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 700;                         /*700*/
  line-height: 1.5;
  border-radius: .25rem;
}
.bttn:hover{
  color: #fff;
}
.btn-defo{
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
.btn-flat {
  overflow: hidden;
  color: #fff;
  border-radius: 0;
  background: #000;
}
.btn-flat span {
  position: relative;
}
.btn-flat:before {
  position: absolute;
  top: 0;
  left: 30px;
  width: 150%;
  height: 500%;
  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-70%) rotate(135deg);
  transform: translateX(-98%) translateY(-70%) rotate(135deg);
  background: #fff100;
}
.fa-position-right{
  position: absolute;
  top: 50%;
  right: 0.8em;
  transform: translateY(-50%);
}
.fa-position-right::before{
  content: "\f105";
}

/* -------------------------------header ----------------------------------*/

header{
  width: 100%;
  background: #FFC025;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
.global-header{
  height: 120px;
  width: 100%;
}
.show .global-header{
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}
.inner{
  max-width:1000px;
  margin: 0 auto;
  position: relative;
}
header .inner{
  display: flex;
}
.sp-header{
  display: flex;
  align-items: center;
  height: 120px;
  text-align: center;
  min-width: 150px;
}
.sp-header .logo-wrapper{
  display: block;
  margin: auto 0;
}
.sp-header img{
  width: 75px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.school-name{
  font-size: 22px;
  color: #fff;
}

.toggle-btn{
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  background: #F28705;
  cursor: pointer;
  padding-top: 13px;
  display: none;
}
.toggle-btn span{
  color: #fff;
  font-size: 12px;
}
.toggle-box {
  margin: 0 auto;
	width: 25px;
	height: 22px;
}

.toggle-box div {
	position: relative;
}
.toggle-box span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: #fff;
	left: 0;
	-webkit-transition: .35s ease-in-out;
	-moz-transition: .35s ease-in-out;
	transition: .35s ease-in-out;
}
.toggle-box span:nth-child(1) {
	top: 0;
}
.toggle-box span:nth-child(2) {
	top: 8px;
}
.toggle-box span:nth-child(3) {
	top: 16px;
}
.global-nav{
  width: 720px;
  position: relative;
  margin:0 auto;
}
.phone-number{
  position: absolute;
  top:25px;
  right: 372px;
  font-size: 25px;
}
.phone-number a{
  color: #FFC025;
}
.phone-number img{
  width: 25px;
  height: auto;
  margin-top: -5px;
  margin-right: -3px;
  transform: rotate(5deg);
}
.phone-number span{
  display: inline-block;
  font-size: 10px;
  line-height: 1.2;
  margin-left: 5px;
  color: #000;
}


.hd-btn{
  padding: 5px 12px;
  font-size: 11px;
  top:34px;
}
.trial-lesson{
  background: #00AEFF;
  position: absolute;
  right: 240px;
}
.inquiry{
  background: #E74C3C;
  position: absolute;
  right: 130px;
}
.monitor-lesson{
  background: #4db56a;
  position: absolute;
  right: 0px;
}
nav{
  width: 100%;
}
.menu-nav{
  height: 33px;
  position: absolute;
  top: 83px;
  left: 0;
}
.menu-nav > ul{
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
}
.menu{
  float:left;
  position: relative;
}
.menu-nav > ul > li > a {
  min-width: 120px;
  height: 25px;
  padding: 0 20px;
  display: block;
  border-left: 1px solid #FFFBDF;
  margin-bottom: 12px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.menu-nav > ul > li:nth-child(3) > a{
  cursor: default;
}
.menu-nav > ul > li:nth-child(7) > a {
  border-right: 1px solid #FFFBDF;
}

.dropdown-nav{
  display: none;
  position: absolute;
  top: 37px;
  left: -20%;
  width: 140%;
  z-index: 99;
  background: #F28705;
  padding: 10px 0;
}
.active .dropdown-nav{
  display: block;
  animation: fadeIn .2s ease 0s 1 ;
  -webkit-animation: fadeIn .2s ease 0s 1 ;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.dropdown-nav > li{
  padding-left: calc(20% - 0.5em);
  padding-right: 20%;
}
.dropdown-nav > li > a{
  color: #fff;
  font-size: 15px;
  display: inline-block;
  height: 28px;
  width: 100%;
  padding-left: 15px;
  position: relative;
}
.active .dropdown-nav > li > a::before{
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  font-weight: 900;
  font-size: 12px;
  position: absolute;
  top:50%;
  left:0px;
  transform: translateY(-50%);
}
.scroll-header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #fff !important;
  height: 60px;
  width: 100%;
  display: none;
  border-bottom: 2px solid #FFC025;
  padding: 0 8px;
}
.show{
  display: block;
}
.scroll-header .logo-box{
  position: relative;
  height: 60px;
}
.scroll-header .logo-box img{
  width: 65px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.scroll-nav{
  position: absolute;
  left: calc(2% + 55px);
  top: 10px;
}
.scroll-nav::after {
  content: "";
  display: block;
  clear: both;
}
.scroll-nav > li{
  float: left;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.scroll-nav > li > a{
  color: #333333;
  text-decoration: none;
  height: 40px;
  min-width: 70px;
  line-height: 40px;
  display: block;
  padding: 0 18px;
  border-left: 1px solid #eeeeee;
}
.scroll-nav > li:first-child > a{
  border-left: none;
}
.scroll-nav > li:nth-child(2) > a{
  cursor: default;
}
.scroll-nav > li a:hover{
  color: #FFC025;
}
.scroll-nav .dropdown-nav{
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 165px;
}
.scroll-header .phone-number{
  top: 8px;
  right: 245px;
  line-height: 1.3;
}
.scroll-header .phone-number img{
  width: 24px;
}
.scroll-header .phone-number > a{
  color: #FFC025;
  letter-spacing: -0.05em;
}
.scroll-header .phone-number span{
  display: block;
  letter-spacing: -0.1em;
}
.hdbtn-place{
  position: absolute;
  top: 10px;
  right: 0;
}
.hdbtn-place > li{
  float: left;
  padding-top: 5px;
}
.hdbtn-place > li:first-child,
.hdbtn-place > li:nth-child(2){
  margin-right: 8px;
}
.hdbtn-place > li > a{
  position: static;
  font-size: 14px;
  padding: 15px 8px;
  border-radius: 4px;
}
.hdbtn-place .trial-lesson,
.hdbtn-place .inquiry,
.hdbtn-place .monitor-lesson{
  background: #F28705;
  position: static;
  top: 0;
  right:0;
}

/*-------- Header Media Query ------*/

@media screen and (min-width: 857px){
  header{
    background: transparent;
    color: #fff;
  }
  .hdbtn-place .trial-lesson:hover,
  .hdbtn-place .inquiry:hover,
  .hdbtn-place .monitor-lesson:hover{
    background: #F28705;
    opacity: 0.5;
  }
  .trial-lesson:hover{
    background:#00baff;
  }
  .inquiry:hover{
    background: #fc3b27;
  }
  .menu-nav > ul > li > a:hover{
    color: rgba(255, 255, 255, 0.6);
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .menu-nav > ul > li:nth-child(2) > a:hover{
    cursor: default;
    color: #fff;
  }
  .dropdown-nav > li > a:hover{
    color: rgba(255, 255, 255, 0.6);
  }
  .menu-nav > ul > li:first-child:hover::after,
  .menu-nav > ul > li:nth-child(3):hover::after{content: ""; width: 100%; height: 4px; background: #FFC025; position: absolute; top: 33px; left: 0;}
  .menu-nav > ul > li:nth-child(5) > a:hover::after,
  .menu-nav > ul > li:nth-child(6) > a:hover::after,
  .menu-nav > ul > li:nth-child(7) > a:hover::after{content: ""; width: 100%; height: 4px; background: #FFC025; position: absolute; top: 33px; left: 0;}
}

@media screen and (max-width: 992px){
  .global-nav{
    margin: 0 20px 0 auto;
  }
  .school-name{
    font-size: 18px;
  }
  .phone-number span{
    display: none;
  }
  .menu-nav > ul > li > a {
    min-width: 110px;
    padding: 0 20px;
    font-size: 13px;
  }
  .scroll-nav > li > a{
    text-align: center;
    padding: 0 12.5px;
  }
  .scroll-header .phone-number{
    top: 14px;
    right: 205px;
    line-height: 1.3;
  }
  .scroll-header .phone-number img{
    width: 22px;
    margin-right: -5px;
  }
  .scroll-header .phone-number > a{
    color: #FFC025;
    letter-spacing: -0.05em;
    font-size: 20px
  }
  .scroll-header .phone-number span{
    display: none;
  }
  .hdbtn-place > li:first-child{
    margin-right: 8px;
  }
  .hdbtn-place > li > a{
    position: static;
    font-size: 12px;
    padding: 15px 8px;
    border-radius: 2px;
    letter-spacing: -0.1em;
  }
}

@media screen and (max-width: 870px){
  .scroll-header .phone-number{
    display: none;
  }
  .scroll-nav > li > a{
    min-width: 90px;
    padding: 0 10px;
  }
}

@media screen and (max-width: 856px){
  .pc{
    display: none !important;
  }
  body{
    font-size: 0.875rem;
  }
  .btn-flat:active{
    color: #333;
  }
  .btn-flat:active::before {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(135deg);
    transform: translateX(-9%) translateY(-25%) rotate(135deg);
  }
  .trial-lesson:active{
    background:#00baff;
  }
  .inquiry:active{
    background: #fc3b27;
  }
  header{
    background: #fff;
  }
  .hdbtn-place .trial-lesson:active,
  .hdbtn-place .inquiry:active{
    background: #F28705;
    opacity: 0.5;
  }
  .global-header{
    height: 60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  }
  .inner{
    width: 100%;
    height: auto;
  }
  .sp-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    background: #FFC025;
    padding: 0;
    z-index: 1111;
  }
  .sp-header img{
    width: 65px;
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
  }
  .school-name{
    position: absolute;
    top: 25px;
    left: calc(4% + 90px);
  }
  .toggle-btn {
		display: block;
	}
	.open .toggle-box span:nth-child(1) {
		top: 8px;
		-webkit-transform: rotate(315deg);
		-moz-transform: rotate(315deg);
		transform: rotate(315deg);
	}
	.open .toggle-box span:nth-child(2) {
		width: 0;
		left: 50%;
	}
	.open .toggle-box span:nth-child(3) {
		top: 8px;
		-webkit-transform: rotate(-315deg);
		-moz-transform: rotate(-315deg);
		transform: rotate(-315deg);
	}
  .global-nav{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 60px;
    background: #fff;
    width: 100%;
  }
  .spnv-pos{
    position: relative;
    padding-left:4%;
    padding-right: 4%;
    padding-bottom: 60px;
  }
  .phone-number,
  .hd-btn,
  .menu-nav,.menu-nav > ul,
  .dropdown-nav,
  .menu{
    position: static;
  }
  .open .global-nav{
    display: block;
  }
  .phone-number{
    padding: 20px 0 15px 16px;
  }
  .phone-number span{
    display: inline-block;
  }

  .hdbtn-wrapper{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
  .hd-btn{
    padding: 3% 3.3333%;
    font-size: 12.5px;
    width: 33%;
    text-align: center;
    border-radius: 4px;
  }
  .menu{
    float: none;
  }
  .menu-nav{
    height: auto;
  }
  .menu-nav > ul{
    margin-top: 15px;
  }
  .menu-nav > ul > li{
    padding: 20px 0;
    border-bottom: 1px  solid #ccc;
  }
  .menu-nav > ul > li > a{
    padding: 0 0 0 25px;
    margin-bottom: 0;
    text-align: left;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: #FFC025 !important;
    position: relative;
  }
  .menu-nav > ul > li > a::before{
    font-family: "Font Awesome 5 Free";
    content: "\f138";
    font-weight: 900;
    font-size: 16px;
    position: absolute;
    top:50%;
    left:5px;
    transform: translateY(-50%);
  }
  .menu-nav > ul > li:nth-child(4) > a::before{
    content: "\f13a" !important;
  }
  .menu-nav > ul > li:nth-child(2) > a,
  .menu-nav > ul > li:nth-child(4) > a{
    margin-bottom: 20px;
  }
  .dropdown-nav{
    width: 100%;
    background: #fff;
    padding: 0 0 0 2.89855%;
    display: block;
  }
  .dropdown-nav::after{
    content: "";
    display: block;
    clear: both;
  }
  .dropdown-nav > li{
    float: left;
    width: 50%;
    padding-left: 3.5%;
    padding-right: 0;
    margin-bottom: 20px;
    position: relative;
  }
  .dropdown-nav > li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    font-weight: 900;
    color: #FFC025;
    font-size: 12px;
    position: absolute;
    top:50%;
    left:0px;
    transform: translateY(-50%);
  }
  .dropdown-nav > li > a{
    color: inherit;
    font-size: 15px;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .global-nav .for-schedule{
    padding: 2.875rem 0 1rem;
  }
  .global-nav .sns{
    padding-top: 1.25rem;
    text-align: center;
  }
  .global-nav .sns-icon{
    font-size: 2.7rem;
  }
  .global-nav .sns-icon::before{
    width: 33px;
    height: 34.5px;
  }
  .curriculum-link:active,
  .schedule-link:active{
    opacity: 0.5;
  }
  .contact-btn:active{
    opacity: 0.5;
  }
  .footer-widgets a:active{
    opacity: 0.5;
  }
}




/* --------------------------- Main -----------------------------------------*/
.container{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}
.sec-defo-pad{
  padding: 80px 0;
}
.inside-link{
  position: absolute;
  top: -60px;
}
.content-title{
  text-align: center;
}
.content-title > p{
  font-size: 25px;
  letter-spacing: -0.1em;
  margin-bottom: 10px;
}
.content-title h2{
  font-size: 40px;
  padding-top: 50px;
  padding-bottom: 120px;
}
.content-title h3{
  padding-top: 1.875rem;
  margin-bottom: 1.875rem;
}
.bubble-angular{
  position: relative;
  padding: 0.5em 1em;
  border-bottom: 3px solid #443f3f;
  border-left: 3px solid #443f3f;
}
.bubble-angular::before{
  position: absolute;
  right: 1.5em;
  bottom: -21px;
  width: 0;
  height: 0;
  content: '';
  border-width: 21px 21px 0 0;
  border-style: solid;
  border-color: #443f3f transparent transparent transparent;
}
.bubble-angular:after {
  position: absolute;
  right: calc(1.5em + 4px);
  bottom: -14px;
  width: 0;
  height: 0;
  content: '';
  border-width: 14px 14px 0 0;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}
.open-window::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.lead-new-window{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align:center;
  color: #fff;
}
.lead-new-window img{
  width: 35px;
}
.curriculum-link,
.schedule-link{
  padding-top: 4px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  width: 350px;
  height: 60px;
  font-size: 0.95em;
  line-height: 1.688;
  letter-spacing: 0;
  color: #2d2d2d;
  font-weight: 700;
  position: relative;
  padding-left: 17px;
}
.curriculum-link .pdf-icon,
.schedule-link .pdf-icon{
    margin-left: 10px;
    position: relative;
}
.curriculum-link i,
.schedule-link i{
  margin-right: 5px;
}
.curriculum-link .pdf-icon::before,
.schedule-link .pdf-icon::before{
  position: absolute;
  top: -8px;
  content: "PDF";
  display: inline-block;
  width: 28px;
  height: 14px;
  border-radius: 4px;
  text-align: center;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 0;
  color: #fff;
  font-weight: 400;
}
.curriculum-link::after,
.schedule-link::after{
  content: "";
  position: absolute;
  top: 45%;
  right: 18px;
  width: 8px;
  height: 8px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.curriculum-link{
  border: 1px solid #4B94F2;
}
.schedule-link{
  border: 1px solid #2fa8b2;
}
.curriculum-link .pdf-icon::before{
  background-color: #4B94F2;
}
.schedule-link .pdf-icon::before{
  background-color: #2fa8b2;
}
.curriculum-link::after{
  border-top: 2px solid #4B94F2;
  border-right: 2px solid #4B94F2;
}
.schedule-link::after{
  border-top: 2px solid #2fa8b2;
  border-right: 2px solid #2fa8b2;
}
.classes-asterisk{
  padding: 0 2% 0;
  font-size: 0.95em;
}
.classes-asterisk > ul{
  display: flex;
  justify-content: center;
  padding: 2.5rem 0;
}
.classes-asterisk > ul > li .schedule-link{
  margin-right: 1.5rem;
}
.achievement-panel{
  background: #FFC025;
  color: #fff;
}
.panel-content .row-item{
  text-align: center;
}
.achievement-panel .panel-content h3{
  font-size: 1.25rem;
  font-weight: 700;
  padding: 15px 0;
}
.count{
  font-family: "Poppins", sans-serif;
  font-size: 55px;
  font-weight: 900;
  padding-bottom: 15px;
}
.achievement-panel .content-box i{
  display: inline-block;
  font-size: 30px;
}
.count .fa-globe-americas::before{
  content: "\f57d";
}
.count .fa-school::before{
  content: "\f549";
}

.country-names p,
.school-names p{
  text-align: justify;
}

/* ------------ Contact Part ----------------*/

.contact-row{
  text-align: center;
  position: relative;
  background: center 55%/ cover no-repeat url(../images/contact-background.jpeg);
  z-index: 5;
}
.contact-wrapper{
  background-color: rgba(242, 135, 5, 0.5);
  width: 100%;
  height: 100%;
  padding: 60px 0;
}
.contact-inner{
  max-width: 1000px;
  margin: 0 auto;
}
.contact-row .title{
  font-size: 25px;
  font-weight: 900;
  color: #fff;
  margin-bottom: 45px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.contact-row .box-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}
.form-box{
  background: #fff;
  border-radius: 8px;
  padding: 1.875rem;
  text-align: center;
  width:350px;
}
.form-box span{
  font-size: 1.285em;
  font-weight: 700;
  color: #F28705;
}
.for-trial{
  margin-right: 20px;
}
.contact-btn{
  display: inline-block;
  background: #F28705;
  padding: 1.875rem;
  margin: 1.875rem 0 1.25rem;
  border: 2px solid #F28705;
}




/*--------------------------- Media Query -------------------------------*/
@media all and (-ms-high-contrast: none) {
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video{
    vertical-align: baseline;
  }
  body {
		font-family: "メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	}
  .country-names p nobr{
  white-space: normal;
  }
  .sns-icon::before{
    -webkit-transform: translate(-50%, -50%);
  }
}
@media only screen and (min-width: 856px){
  .panel-content .row-item:first-child{
    padding-right: calc(15px + 2.5%);
  }
}

@media only screen and (min-width: 857px) {
  .sp{
    display: none !important;
  }
  .btn-flat:hover{
    color: #333;
  }
  .btn-flat:hover:before {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(135deg);
    transform: translateX(-9%) translateY(-25%) rotate(135deg);
  }
  .global-header{
    padding: 0 15px;
  }
  .global-header .phone-number a,
  .global-header .phone-number span,
  .menu-nav > ul > li > a{
    color: #fff;
  }
  .curriculum-link:hover,
  .schedule-link:hover{
    opacity: 0.5;
  }
  .contact-btn:hover{
    opacity: 0.5;
  }
  .open-window:hover::before{
    background-color: rgba(0, 0, 0, 0.5)!important;
  }
  .lead-new-window{
    display: none;
  }
  .open-window:hover .lead-new-window{
    display: block;
  }
  .footer-widgets a:hover{
    opacity: 0.5;
  }
}


@media screen and (max-width: 855px){
  .sec-defo-pad{
    padding: 80px 0;
  }
  .content-title h2{
    padding-bottom: 60px;
  }
  .content-title p{
    font-size: 20px;
    margin-bottom: 0;
  }
  .content-title h2{
    font-size: 33px;
  }
  .content-title h3 {
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.875rem;
  }
  .inside-link{
    position: absolute;
    top: -40px;
  }

  .open-window::before{
    background-color: rgba(0, 0, 0, 0.1);
  }
  .lead-new-window{
    display: inline-block;
    top: auto;
    bottom: 0;
    right: 4%;
    width: auto;
    line-height: 0;
  }
  .lead-new-window img{
    width: 28px;
  }
  .curriculum-link,
  .schedule-link{
    width: 100%;
    height: 44px;
    padding-left: 11px;
  }
  .classes-asterisk {
    padding: 0 2% 20px;
  }
  .classes-asterisk > ul{
    display: block;
    padding: 1.5rem 0;
  }
  .classes-asterisk > ul > li a{
    max-width: 450px;
  }
  .classes-asterisk > ul > li .schedule-link{
    margin-bottom: 1.5rem;
    margin-right: auto;
  }
  .panel-content h3{
    padding: 15px 0;
  }
  .count{
    font-size: 50px;
    padding-bottom: 8px;
  }
  .achievement-panel .content-box i{
    font-size: 30px;
  }
  .achievement-panel .country-colum{
    margin-bottom: 50px;
  }
  .contact-wrapper{
    padding-left:4.6875%;
    padding-right: 4.6875%;
  }
}

@media screen and (max-width: 708px){
  .contact-row .box-wrapper{
    width: 100%;
    display: block;
  }
  .form-box{
    padding: 20px 30px;
    width:100%;
    max-width: 500px;
    margin: 0 auto;
  }
  .for-trial{
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 620px){
  .container{
    padding: 0 4.6875%;
  }
}

@media screen and (max-width: 425px){
  .hd-btn{
    font-size: 11px;
  }
  .sec-defo-pad{
    padding: 60px 0;
  }
  .content-title h2{
    font-size: 28px;
    display: inline-block;
    padding-bottom: 40px;
  }
  .classes-asterisk{
    padding-left: 0;
    padding-right: 0;
  }
  .classes-asterisk > ul{
    display: block;
    padding-top: 0;
  }
  .achievement-panel .panel-content h3{
    font-size: 1.125rem;
    padding: 15px 0;
  }
  .content-title h3 {
    padding-top: 1.35rem;
    margin-bottom: 1.35rem;
    font-size: 1.5rem;
  }
  .count{
    font-size: 44px;
    padding-bottom: 10px;
  }
  .achievement-panel .content-box i{
    display: inline-block;
    font-size: 35px;
  }
  .country-names,
  .school-names{
    margin-left: -15px;
    margin-right: -15px;
  }
  .contact-btn {
    padding: 1.875rem 1.125rem;
    margin-top: 1.25rem;
    letter-spacing: -0.01em;
  }
}




/* -------------------------------Footer ----------------------------------*/

.footer-widgets{
  color:#ffffff;
}
.footer-widgets a:hover{
  color:#ffffff;
  text-decoration: none;
}
.footer-widgets{
  background-color: #252525;
  padding: 60px 0 70px;
  border-top: 1px solid #ebebeb;
}
.footer-widgets .widget-title {
	line-height: normal;
	margin: 5px 0 0;
}
.footer-widgets .widget {
		position: relative;
		margin-bottom: 30px;
	}
.footer-widgets .widget:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 1px;
}
.footer-widgets .widget:first-child:before {
	height: 0;
}
.footer-widgets .widget-title {
	font-size: 23.5px;
	line-height: normal;
	font-weight: 700;
	padding-bottom: 24px;
	margin: 0;
}
.footer-widgets {
	border-top: 1px solid #ebebeb;
}
.footer-widgets .widget .footer-menu{
  display: flex;
  flex-wrap: wrap;
}
.footer-widgets .widget .footer-menu > li {
	padding-bottom:20px;
  width: 50%;
}
.footer-widgets .widget .footer-menu > li > a{
  font-size: 1rem;
  font-weight: 700;
  padding-left: 20px;
  position: relative;
}
.footer-widgets .widget .footer-menu > li > a::before{
  font-family: "Font Awesome 5 Free";
  content: "\f138";
  font-weight: 900;
  font-size: 15px;
  position: absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
}
.footer-widgets .widget .footer-menu > li:nth-child(2) > a::before{
  content: "\f13a" !important;
}
.footer-widgets .widget .footer-submenu{
  padding: 20px 0 0;
  margin-left: 10px;
}
.footer-widgets .widget .footer-submenu li{
  padding: 5px 0;

}
.footer-widgets .widget .footer-submenu li a{
  position: relative;
  padding-left: 10px;
}
.footer-widgets .widget .footer-submenu li a::before{
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  font-weight: 900;
  font-size: 12px;
  position: absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
}
.footer-widgets .widget .footer-submenu li:first-child {
	padding-top: 0;
}
.footer-widgets.widget .footer-submenu li:last-child {
	padding-bottom: 0;
}
.footer-widgets,
.footer-widgets a {
	color: #fff;
}
.sns-icon {
    font-size: 1.8rem;
    margin: 0.2em;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.sns-icon i{
  position: relative;
  z-index: 2;
}
.sns-icon::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 22px;
  border-radius: 5px;
  background: #fff;
}
.sns-facebook{
  color: #315096 !important;
}
.sns-insta{
  color: #e1306c !important;
}
.sns-line{
  color: #00c300 !important;
}
.sns-twitter{
  color: #55acee !important;
}
.footer-widgets .contact .contact-info{
  padding-bottom: 12px;
}
.footer-widgets .contact .contact-info p{
  margin-bottom: 8px;
}
.footer-widgets .contact .contact-info span{
  margin-right: 8px;
}
.footer-widgets .gmap {
height: 0;
overflow: hidden;
padding-bottom: 56.25%;
position: relative;
}
.footer-widgets .gmap iframe {
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
}
.footer-widgets .address{
  padding: 5px 0;
}
.footer-widgets .copyright{
  text-align: center;
  padding-top: 30px;
}

/*-------- Footer Media Query --------*/

@media screen and (max-width: 576px){
  .footer-widgets .widget {
  		position: relative;
  		margin-bottom: 30px;
  	}
    .footer-widgets .copyright{
      padding-top: 0;
    }
    .footer-widgets .business-day h3 {
      font-size: 1.25rem;
    }
}
